table {
    border-collapse: collapse;
}

td {
    padding-left: 5px;
}

#tableItems td {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#tableHeaders td {
    border: 2px solid black;
}