/* Style rules for HTML elements. */
body { background-color: lightgrey; }

form {
    padding: 20px;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 2px solid maroon;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    display: table-cell;
    float: left;
    width: 33.333333334%;
}

nav a {
    background-color: maroon;
    border: 2px solid tan;
    color: white;
    display: block;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: tan;
    border: 2px solid maroon;
    color: maroon;
}

footer {
    font-size: 80%;
    text-align: center;
}

footer ul {
    display: inline;
    list-style-type: none;
    margin: 0 auto;
}

footer li { display: inline; }

footer a {
    color: white;
    text-decoration: none;
}

/* Style rules for CSS ID selectors. */

#content {
    background-color: tan;
    border: 2px solid maroon;
    color: maroon;
    margin: 0 auto;
    width: 978px;
}

#companyName { margin-bottom: 0; }

#companySlogan {
    font-style: italic;
    margin-top: 0;
}

#copyright { font-size: 75%; }

/* Style rules for CSS Class selectors. */

.headerfooter {
    background-color: maroon;
    color: white;
    overflow: auto;
    padding: 5px;
    text-align: center;
}

.centerBlock {
    width: 250px;
    margin: 0 auto;
}